body{
    background-color: rgb(212, 195, 98);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.card-horas{
    background-color: aliceblue;
    width: 30rem;
    height: 20rem;
    border-radius: 15px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.151);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#horas{
    color: black;
}
#imagem-periodo{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}
#imagem-periodo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

